doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1, user-scalable=no, width=device-width')
        title
        
        link(href='app.css' rel='stylesheet')
        script(src='app.js')
        
    body(ng-app='TopGun')
        ion-nav-view