ion-view#background(title='Login')
    ion-content.padding(scroll='false')
        .col.login
            img.full-img.login-picture(src='img/logo.jpg' width='300')
            label.item.item-assertive.login-message(ng-show='loginForm.error')
                p.help-block.login-help-block
                    i.icon.ion-alert-circled Username or Password is Invalid!
            label.item.item-assertive.login-message(ng-show='loginForm.connError')
                p.help-block.login-help-block
                    i.icon.ion-alert-circled Connection Error...
            form(ng-submit='doLogin()')
                label.item.item-input
                    i.icon.ion-person.placeholder-icon
                    input(type='text' placeholder='Username' ng-model='loginData.username')
                label.item.item-input
                    i.icon.ion-locked.placeholder-icon
                    input(type='password' placeholder='Password' ng-model='loginData.password')
                button.button.button-block.button-dark(type='submit') Log In
            
            .row
                .col
                    button.button.button-block.button-royal(ng-click='register()') Register
                .col
                    button.button.button-block.button-positive: i.icon.ion-social-facebook
                .col
                    button.button.button-block.button-assertive: i.icon.ion-social-googleplus
