.col
    label.item.item-input
        i.icon.ion-person.placeholder-icon
        input(type='text' placeholder='Username' ng-model='registerData.username')
    label.item.item-input
        i.icon.ion-locked.placeholder-icon
        input(type='text' placeholder='Password' ng-model='registerData.password')
    label.item.item-input
        i.icon.ion-email.placeholder-icon
        input(type='text' placeholder='email' ng-model='registerData.email')
