.col.register
    label.item.item-input
        input(type='text' placeholder='Username' ng-model='registerData.username')
    label.item.item-input
        input(type='text' placeholder='Password' ng-model='registerData.password')
    label.item.item-input
        input(type='text' placeholder='Email' ng-model='registerData.email')
