@require 'ionic/release/css/ionic.min.css'
@import url('http://fonts.googleapis.com/css?family=Ubuntu:900,600,500,300,700,400,800')

@require 'tabs'

allText = 'h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6,.item'

background
    background-color #909090

.scroll
    height 100%

.help-block
    text-align center

.messages
    list-style-type none

    li
        display block
        clear both
        margin 0 10px 20px 10px
        padding 0

    p
        border-radius 75rem
        background #e6e5eb
        color #383641
        padding .6875rem
        margin 0
        font-size .875rem

.response-info
    margin-left 1-px
    font-size 85%
    color #999999

{allText}
    font-family 'Ubuntu'
    font-weight 400
